.norican-regular {
    font-family: "Norican", cursive;
    font-weight: 400;
    font-style: normal;
}
.lunasima-regular {
    font-family: "Lunasima", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .kaisei-tokumin-regular {
    font-family: "Kaisei Tokumin", serif;
    font-weight: 400;
    font-style: normal;
  }
  

* {
    background-color: #C27727;
}

.smart-home-interior {
    align-self: center;
}

.nav-top > a {
    display: flex;
    flex-direction: row;
}

nav > a {
    text-decoration: none;
}

p {
    font-family: "Kaisei Tokumin", serif;
    font-weight: 400;
    font-style: normal;
}  

#name {
    font-family: "Norican", cursive;
    font-weight: 400;
    font-style: normal;
}

nav {
    background-color: #332e29;
}

header, footer nav {
    color: #FFB866;
}

.big-font {
    font-family: "Lunasima", sans-serif;
    font-weight: 400;
    font-style: normal;
}

