/*Fonts*/
.norican-regular {
    font-family: "Norican", cursive;
    font-weight: 400;
    font-style: normal;
}
.lunasima-regular {
    font-family: "Lunasima", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .kaisei-tokumin-regular {
    font-family: "Kaisei Tokumin", serif;
    font-weight: 400;
    font-style: normal;
  }
  
/*All*/
* {
    background-color: #c27727;
}

.other-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px black solid;
    padding: 2em;
}

.second-head {
    color: black;
}

.big-font {
    font-family: "Lunasima", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}

.smart-home-interior {
    align-self: center;
}

.nav-top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-top > a {
    padding: 1em;
    font-size: larger;
}

.nav-bot {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav > a {
    font-family: "Lunasima", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    background-color: #332e29;
    color: #ffb866;
}

p {
    font-family: "Kaisei Tokumin", serif;
    font-weight: 400;
    font-style: normal;
}  

.name {
    font-family: "Norican", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #332e29;
    color: #ff8800;
    font-size: xxx-large;
}

nav {
    background-color: #332e29;
}

header, footer nav {
    color: #ff8800
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-evenly;
    background-color: #332e29;
    padding-top: 1em;
    padding-bottom: 1em;
}

label, input {
    display: flex;
    justify-self: right;
    font-family: "Lunasima", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #332e29;
    color: #ff8800;
}

input {
    color: #ffb866;
    height: 20%;
}

.footer-font {
    font-family: "Lunasima", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ff8800;
    background-color: #332e29;
}

/* Home Page */
.home-div {
    display: flex;
    justify-content: center;
    align-content: center;
}

.home-page-img-1 {
    width: 1440px;
}

.index {
    font-size: large;
    padding: 3em;
    width: 50%;
}

.home-page-img-2 {
    padding: 3em;
    width: 1333px;
}

/* Tech */
.tech {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
}

[class^=techo] {
    border: 1px black solid;
    width: 750px;
}

/* Safety */
.safety {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-evenly; 
    padding: 2em;
}

[class^=sf] {
    display: flex;
    flex-direction: row;
    margin: 3em;
    width: 60%;
}

.safe-img {
    width: 60%;
}

.safe-txt {
     padding-left: 5em;
}

/* Convenience */
.convenience {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    padding-top: 3em;
}

[class^=coni] {
    display: flex;
    flex-direction: column;
    border: black solid 1px;
    width: 25%;
}