.norican-regular {
    font-family: "Norican", cursive;
    font-weight: 400;
    font-style: normal;
}
.lunasima-regular {
    font-family: "Lunasima", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .kaisei-tokumin-regular {
    font-family: "Kaisei Tokumin", serif;
    font-weight: 400;
    font-style: normal;
  }
  

* {
    background-color: #c27727;
}

.smart-home-interior {
    align-self: center;
}

.nav-top > a {
    display: inline-block;
    align-content: space-evenly;
    padding: 1em;
}

.nav-bot {
    display: flex;
    flex-direction: column;
}

nav > a {
    font-family: "Lunasima", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    background-color: #332e29;
    color: #ffb866;
}

p {
    font-family: "Kaisei Tokumin", serif;
    font-weight: 400;
    font-style: normal;
}  

#name {
    font-family: "Norican", cursive;
    font-weight: 400;
    font-style: normal;
    display: flex;
    background-color: #332e29;
    color: #ff8800;
}

nav {
    background-color: #332e29;
}

header, footer nav {
    color: #ffb866;
}

.techo-1 {
    border: black solid 1px;
}

.techo-2 {
    border: black solid 1px;
}

.techo-3 {
    border: black solid 1px;
}

.techo-4 {
    border: black solid 1px;
}

footer {
    background-color: #332e29;
}

.big-font {
    font-family: "Lunasima", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ff8800;
    background-color: #332e29;
}

